[project]
	description = my first github project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AdolphHuan
[access "refs/for/refs/*"]
	read = group user/AdolphHuan
	push = group user/AdolphHuan
	label-Code-Review = -2..+2 group user/AdolphHuan
	label-Verified = -1..+1 group user/AdolphHuan
	rebase = group user/AdolphHuan
	removeReviewer = group user/AdolphHuan
	submit = group user/AdolphHuan
[access "refs/heads/*"]
	read = group user/AdolphHuan
	create = group user/AdolphHuan
	push = +force group user/AdolphHuan
	pushMerge = group user/AdolphHuan
[access "refs/tags/*"]
	push = group user/AdolphHuan
	push = +force group user/AdolphHuan
